doctype html
html 
  head
    title Login
    include meta.pug
  body(class='m-5')
    h2(class='m-3') Login
    hr
    form(method='post', action='/login')
      div(class='m-3')
        label(for='username') Username
        br
        input(type='text' name='username')
      div(class='m-3')
        label(for='password') Password
        br
        input(type='password' name='password')
      div(class='m-3')
        input(type='submit' name='submit' value="Submit")
        
    
